<div class="cityContainer" *ngIf="city">


    <img [src]="city.image" alt="imagen de producto" 
    (click)="imgSelected()" 
    [ngStyle]="{
        'transform': varZoom ? 'scale(1.1)' : 'scale(1)' 
    }"
    [ngClass]="
    {'cityContainer--zoom': varZoom,
    'cityContainer__img': true
}">
    <i class="fa-solid fa-circle-xmark cityContainer__ex" *ngIf="canDelete" (click)="onDelete()"></i>
    <i class="fa-solid fa-heart cityContainer__icon" (click)="clickFavorite()"
        [ngStyle]="{'color': favorite ? 'red' : 'black'}">
    </i>

    <div class="cityContainer__overlay">
        <p class="cityContainer__name">{{city.name}}</p>
        <p class="cityContainer__price">${{city.price}}</p>
    </div>
</div>