<div class="cityContainer" *ngIf="city">
    
    
    <img class="cityContainer__img" [src]="city.image" alt="imagen de producto"
    (click)="imgSelected()"
    [ngStyle]="{'opacity': selected ? '0.7' : '1'}"
    >
    <i class="fa-solid fa-circle-xmark cityContainer__ex"
    *ngIf="canDelete" 
    (click)="onDelete()"
    ></i>
    <i class="fa-solid fa-heart cityContainer__icon" (click)="clickFavorite()"
        [ngStyle]="{'color': favorite ? 'red' : 'black'}">
    </i>
    
    <div class="cityContainer__overlay">
        <p class="cityContainer__name">{{city.name}}</p>
        <p class="cityContainer__price">${{city.price}}</p>
    </div>
</div>