*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
}

.header{
    background-color: #232946;
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #b8c1ec;
}

footer{
    color: blanchedalmond;
}