.headerContainer{

    display: flex;
    justify-content: flex-start;

    &__modify {
     cursor: pointer;
    }
}

.cityContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}