<div class="topHeroContainer">
    <input [(ngModel)]="filterValue" class="topHeroContainer__item topHeroContainer__input" (change)="onFilter()" type="text">
    <!-- <p class="topHeroContainer__item">FAVORITES</p> -->
    <p class="topHeroContainer__item" (click)="onModify()">MODIFY</p>
    <p class="topHeroContainer__item">Tenemos {{numberSelected}} seleccionados</p>
</div>

<div class="cityContainer">

    <app-city *ngFor="let city of filteredCities" 
    [city]="city" 
    [canDelete]="modify" 
    (delete)="onDelete(city.id)"
    (isSelected)="onSelect($event)"
    (click)="getName(city.name)"
    
    ></app-city>
    </div>