.headerContainer{

    display: flex;
    justify-content: flex-start;

    &__modify {
     cursor: pointer;
    }
}

.cityContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3.5rem;
    // justify-content: space-between;
    // align-items: center;
}