.topHeroContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item{
        padding: 0 5rem;
        cursor: pointer;
    }
    &__input {
        border-radius: 30px;
        height: 1.8rem;
    }
}

.cityContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}